body {
    background-image: url(images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    color: white;
    height: auto;
    box-sizing: border-box;
    margin: 0%;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.4;
}
p {
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.1rem;
    letter-spacing: 0.3px;
    opacity: 0.8;
    
}
.col1-desktop-image img {
    width: 80%;
    min-width: 300px;
}
.logo img {
    width: 10%;
    margin: 2rem;
}
.product {
    margin: 1rem 5rem 1rem 5rem;
}
.product-card {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 0;
}
.col2-content {
    padding-top: 18px;
}
.button {
    width: 210px;
    height: 50px;
    background-color: white;
    border: 0;
    border-radius: 30px;
    font-family: inherit;
    color:  hsl(257, 40%, 49%);
    font-size: 0.9rem;
    margin-top: 1rem;
}
.button:hover {
    cursor: pointer;
    background-color: hsl(300, 69%, 71%);
}
.icon-section {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 70px 0 0;   
}
.img-container1, .img-container2, .img-container3 {
    width: 29px;
    line-height: 29px;
    position: relative;
    top:calc(50%-12px);
    text-align: center;
    border: 1px solid white;
    border-radius: 100%;
}
.img-container1, 
.img-container2,
.img-container3 {
    cursor: pointer;
    color: white;   
}
.img-container1:hover, .img-container2:hover, .img-container3:hover {
    cursor: pointer;
    color:  hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}

@media (max-width: 1131px) {
    .product-card {
        display: flex;
        flex-direction: column;
        text-align: center;   
    }
}
@media (max-width: 455px) {

    body {
        background-image: url(images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-position: top;   
    }
    .logo {
        margin: 0;
    }
    .logo img {
        width: 40%;
    }
    .product {
        margin: 10px;        
    }
    .col2-content {
        padding: 1.6rem;
    }
    .col2-content h1 {
        font-size: 1.4rem;
    }
    .col2-content p {
        font-size: 0.9rem;
    }
    .button {
        margin-bottom: 3rem;
    }
    .icon-section {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        position: relative;
        right: 45px;
    }
}
